.flex-container {
    border: 10px solid lightslategray;
    display: flex;
}
.items{
    margin: 10px;
    width: 300px;
    flex-grow: 1;
}
.items-1{
    background: #8d0de9; 
    flex-basis: 400px;
}
.items-2{
    background: #922bb1;
    
    
}
.items-3{
    background: #ae13eb;
    
}
.items-4{
    background: #904fbe;
   
}
.grow-flex-container {
    border: 10px solid lightslategray;
    display: flex;
}
.grow-items{
    margin: 10px;
    flex-grow: 1;
}
.grow-items-1{
    background: #8d0de9;
}
.grow-items-2{
    background: #922bb1;
    flex-grow: 2;
}
.grow-items-3{
    background: #ae13eb;
}
.grow-items-4{
    background: #904fbe;
}
.shrink-flex-container {
    border: 10px solid lightslategray;
    display: flex;
}
.shrink-items{
    margin: 10px;
    /* flex-grow: 1; */
}
.shrink-items-1{
    background: #8d0de9;
    flex-shrink: 1;
}
.shrink-items-2{
    background: #922bb1;
    flex-shrink: 3;
}
.shrink-items-3{
    background: #ae13eb;
}
.shrink-items-4{
    background: #904fbe;
}